//imports
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

//colors
$header-background: #67A9FF;
$carousel-background: #D9D9D9;
$attraction-card-background: #EDF5FF;
$dropdown-background: #B1D3FF;
$all-attractions-background: #FFF4CC;
$main-pages-font: #2F2F2F;
$header-divider: #FD9098;
$attraction-font: #134F64;
$navigation-font: #FFCCCC;
$dropdown-font: #FF5762;
$main-border: #5595AC;

//fonts
$font-text: 'Delicious Handrawn', cursive;
//$font-text: 'Teko', sans-serif;
$font-navigation: 'Gloria Hallelujah', cursive;
//breakpoints
$tablet-breakpoint: 768px;