//imports
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;600&display=swap');

//colors
$header-background: #67A9FF;
$carousel-background: #D9D9D9;
$attraction-card-background: #EDF5FF;
$all-attractions-background: #FFF4CC;
$main-pages-font: #2F2F2F;
$header-divider: #FD9098;
$attraction-font: #134F64;
$naigation-font: #FFCCCC;
$main-border: #5595AC;

//fonts
$font-text: 'Teko', sans-serif;

//breakpoints
$tablet-breakpoint: 768px;