@use '../../assets/styles/variables.scss' as *;

.parade-show-card-container{
    width: 60vw;
}
.parade-show-title{
    margin: 0;
    font-size: 3rem;
    padding: 3vh 0;
    text-align: center;
    font-family: $font-navigation;
    color: $attraction-font;
}
.parade-show-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.parade-show-image{
padding-bottom: 5vh;
width: 40vw;
}
.parade-show-description{
    padding: 5vh 0;
}
.parade-show-content{
    margin: 0;
    padding: 1vh;
    font-family: $font-text;
    color: $attraction-font;
    font-size: 1.5rem;
    text-align: justify;
}