@use '../../assets/styles/variables.scss' as *;

.general-parks-card-component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    padding: 2.5vh 0;

    .general-parks-card{
        &__image{
            width: 19vw
        }
        &__title{
            font-size: 1.25rem;
            margin-bottom: 0;
            font-family: $font-navigation;
        }
        &__description{
            width: 21vw;
            font-size: 1.25rem;
            font-family: $font-text;
            text-align: justify;
            margin: 0;
        }
    }
}