@use '../../assets/styles/variables.scss' as *;

.header-component{
    width: auto;
    display: flex;
    align-items: center;
}
.header-logo-container{
    &__logo{
         height: 20vh;
    }
    &__title{
        height: 20vh;
    }
}
