@use '../../assets/styles/variables.scss' as *;

.each-attraction-page{
    background-color: $carousel-background;
}

.each-attraction-page-main{
    background-color: white;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10vw;
    padding: 5vh 0;
}